#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.side-bar{
  display: block;
  background-color: lightblue;
  justify-content: center;
  border-radius: 2%;
}

.side-bar ul {
  padding: 0px;
}

.side-bar li {
  list-style: none;
  height: 45px;
  width: 20vw;
  background-color: darkcyan;
  margin: 10px;
  border-radius: 5%;
}
.main-content {
  width: 100%;
  margin: 10px;
  justify-content: center;
}
.equation {
  background-color: rgb(30, 165, 136);
  width: 50%;
  border-radius: 5%;
  margin: 0px 20px 20px 250px;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
.topic-window {
  display: none;
}

.topic-window.active {
  display: flex;
  justify-content: center;
}

.input-window{ 
  border: 2px solid black;
  width: 250px;
  margin: 30px;
  border-radius: 5%;
  background-color: lightcoral;
}
/* .input-window label{
  display: block;
} */
.output-window {
  border: 2px solid black;
  width: 250px;
  margin: 30px;
  border-radius: 5%;
  background-color: goldenrod;
}
input {
  background-color: thistle;
}
canvas{
  /* width: 100%;
  height: 65%; */
  background-color: rgb(0, 255, 136);
  border: 1px solid black;
}