.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
h1 {
  margin: 0px;
  color: teal;
}
img {
  margin-right: 10px;
}
#root {
  display: flex;
  width: 100vw;
  height: auto;
  /* border: 1px solid black; */
  color: white;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.side-bar{
  display: block;
  background-color: lightblue;
  justify-content: center;
  border-radius: 2%;
}

.side-bar ul {
  padding: 0px;
}

.side-bar li {
  list-style: none;
  height: 45px;
  width: 20vw;
  background-color: darkcyan;
  margin: 10px;
  border-radius: 5%;
}
.main-content {
  width: 100%;
  margin: 10px;
  justify-content: center;
}
.equation {
  background-color: rgb(30, 165, 136);
  width: 50%;
  border-radius: 5%;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  justify-content: center;
}
.topic-window {
  display: none;
}

.topic-window.active {
  display: flex;
  justify-content: center;
}

.input-window{ 
  /* border: 2px solid black; */
  /* width: 250px; */
  margin: 10px 0px 0px 0px;
  padding: 20px;
  border-radius: 5%;
  /* background-color: lightcoral; */
}
/* .input-window label{
  display: block;
} */
.output-window {
  border: 2px solid black;
  width: 250px;
  margin: 30px;
  border-radius: 5%;
  background-color: goldenrod;
}
input {
  background-color: white;
  margin: 10px;
}
label{
  margin: 10px;
}
.variables {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-evenly;
}
label {
  color: white;
  font-size: 16px;
}
.known-box {
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 5%;
  border: 1px solid green;
  background-color: rgb(0, 0, 209);
  justify-content: space-between;
}
.known-box-projectile{
  border: 1px solid green;
  background-color: rgb(0, 0, 209);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.solve-box {
  display: flex;
  flex-direction: column;
  background-color: teal;
  border-radius: 5%;
  padding: 20px;
  margin: 20px;
}
button {
  background-color: red;
  border-radius: 5%;
  padding: 20px;
  margin: 20px;
}
button:hover {
  background-color: rgb(117, 21, 21);
}
canvas{
  /* width: 100%;
  height: 100%; */
  background-color: rgb(0, 255, 136);
  border: 1px solid black;
  margin: 10px;
}
.projectile-input-label {
  display: flex;
}
.projectile-label-div {
  display: flex;
  flex-direction: column;
}
.projectile-input-div {
  display: flex;
  flex-direction: column;
}
.instructions{
  height: auto;
  color: black;
  display: flex;
  justify-content: center;
}
.inner-instructions{
  max-width: 600px;
}
.footer-root {
  background-color: rgb(86, 119, 108);
  display: flex;
  justify-content: space-evenly;
  color: rgb(185, 221, 230);
  width: 100vw;
}

.footer-root h3 {
  color: rgb(227, 243, 248);
}

.footer-root li {
  list-style: none;
  padding: 2px 0px;
}

.footer-root ul {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(185, 221, 230);
}
a:active{
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
